body{
    padding: 20px;
}

.App{
    margin: 0 auto;
    width: 80%;
}

.App .section{
    margin: 10px;
    padding-left: 20px;
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(150, 150, 150);
    border-radius: 15px;
}